*{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:root {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
a:hover {
  color: #4bd2ff;
}

/*conf menu*/

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 30px;
  overflow: auto;
  list-style: none;
  color: var(--bg-secondary);
  background-color:var(--text-secondary);

}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: var(--text-primary);
}

main {
  padding: 1rem;
}

.navbar {
  position: relative;
  background: var(--bg-primary);
  display: flex;
  justify-content: center;
}



.logo {
  width: 100px;
  margin-right: 500px;
}

.navbar-nav {
  list-style: none;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-logo {
  display: flex;
  align-items: left;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  padding-right: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  padding-right: 10px;
}

.link-text {
  margin-left: 1rem;
  color: var(--text-secondary);
}

.nav-link:hover {
  background-color: var(--text-primary);
}


/*tarjetas */

header {
margin: 0;
padding: 0;
}

.texto-header {
  text-align: center;
  color: var(--bg-primary);
  font-family: 'Rubik', sans-serif;
}

section {
  text-align: center;
  padding: 50px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--text-secondary);
  color: #000000;
}

.gato-logo {
  width: 400px;
  cursor: pointer;

}


img{
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}
section a {
  color: #000000;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
}

.card-container img {
  height: 200px;
}

.card {
  background-color: #FFF;
  padding: 10px;
  width: 300px;
  height: auto;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 10px;
  line-height: normal;
  padding-bottom: 5px;
}

.bottom-card p{
  font-size:  14px;
}

.card li {
  line-height: 22px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
  margin-top: 10px;
}
.card a {
  font-size: 10px;
}


/* Clientes premiun y reserva*/

.container-a {
  justify-content: center;
  display: flex;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: Rubik;
}
.container-a img {
  margin-top: 10px;
  max-width: 600px;
}
.container-b {
  justify-content: center;
  display: flex;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: Rubik;

}
.present {
  width: 700px;
}

.texto-izq {
  margin: 2rem;
  font-family: 'Rubik', sans-serif;
  max-width: 300px;
}

.form {
  display: flex;
  justify-content: center;

}

.correo {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--text-primary);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.ingresar {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--bg-primary);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.ingresar:hover {
  background-color: #4bd2ff;
  color: white;
}

.present {
  margin-top: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
}
.terminos {
  color: var(--text-primary);
}


/*footer*/

footer {
  padding-right: 10%;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  color: var(--bg-secondary);
  margin-bottom: 2rem;

}

footer a{
  color: var(--bg-primary);
  text-decoration: none;
}
.footer-column {
  color: var(--bg-secondary);
  margin: 0 auto;
  padding: 0 15px;
  overflow: auto;
  justify-content: cente;
  text-align: center;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.sicon {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d3d1d1;
}
.sicon:hover {
  background-color: #4bd2ff;
}


.footer-bottom {
  margin: 0 auto;
  padding: 0 15px;
  padding-left: 50px;
  overflow: auto;
  text-align: left;
  font-size: 12px;
}
  .footer-bottom a{
  color: #565454;
  margin: 3px;
  text-align: left;
}
  .footer-bottom p{
  color: #565454;
  text-align: right;
}


/*pantallas pequeñas*/

@media screen and (max-width:600px) {

.footer-column {
  margin: 0;
  padding: 5%;
}
.present {
  width: 400px;
}
.gato-logo {
  width: 400px;
}

}